<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ClinicManagementSystem?useSSL=true</property>
        <property name="connection.username">CMSystem</property>
        <property name="connection.password">aastu</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>


        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Names the annotated entity class -->
        <mapping class="com.AASTU.Model.ClinicalNotes"/>
        <mapping class="com.AASTU.Model.LabRequest"/>
        <mapping class="com.AASTU.Model.Cbs"/>
        <mapping class="com.AASTU.Model.Laboratory"/>
        <mapping class="com.AASTU.Model.Microscopy"/>
        <mapping class="com.AASTU.Model.Chemistry"/>
        <mapping class="com.AASTU.Model.Dipstick"/>
        <mapping class="com.AASTU.Model.Others"/>
        <mapping class="com.AASTU.Model.Patient"/>
        <mapping class="com.AASTU.Model.Serology"/>
        <mapping class="com.AASTU.Model.Parasitology"/>
        <mapping class="com.AASTU.Model.AgeScale"/>
        <mapping class="com.AASTU.Model.DiseaseRecord"/>
        <mapping class="com.AASTU.Model.Secretary"/>
        <mapping class="com.AASTU.Model.TestProperty"/>
        <mapping class="com.AASTU.Model.Test"/>
        <mapping class="com.AASTU.Model.Doctor"/>
        <!--<mapping class="com.AASTU.Model.Doctor"/>-->


    </session-factory>

</hibernate-configuration>