#rootPane{

    -fx-background-radius: 10px;
    -fx-background-color:  #01579B;
    -fx-border-color: #01579B;
    -fx-border-radius: 20px;
}

#lblTitle{
    -fx-font-family: sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: #01579B;
    -fx-border-color: #01579B;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;

}
#pnlInner{
    -fx-background-color: #E1F5FE;
    -fx-border-color: #01579B;
    -fx-border-width: 2 2 2 2;
}

#cboTime{
    -fx-background-color: white;
    -fx-border-color:#01579B;
    -fx-border-width: 1 0 1 0
}
#cboTime1{
    -fx-background-color: white;
    -fx-border-color:#01579B;
    -fx-border-width: 1 1 1 0
}

#btnDiscard,
#btnConfirm{
    -fx-background-color: white;
    -fx-border-color: #01579B;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
