#rootPane{
    -fx-background-color: linear-gradient(to right, #01579B, #4FC3F7);

}

.jfxbutton:hover{
    -fx-background-color: #01579B;
}

.jfxbutton:pressed{
    -fx-background-color: #01579B;
}

#lblTitle{
    -fx-font-family: sans-serif;
    -fx-font-size: 24px;
    -fx-text-fill:  #01579B;
    -fx-border-color: #000000;
    -fx-border-width: 1 0.5 0.5 0.5;
    -fx-background-color: white;
}