#rootPane {
    -fx-background-color: linear-gradient(to right, #01579b, #5AB0E2);
}

#log_lbl{
    -fx-font-family: sans-serif;
    -fx-font-size: 54px;
}
.button {
    -fx-background-color: #ffffff;
}
.button:hover{
    -fx-background-color: #4FC3F7;
}
.button:pressed{
    -fx-background-color: #0277BD;
}