.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: #B3E5FC;
    -fx-text-fill: #01579B;
}
.jfx-button:hover{
    -fx-background-color: #01579B;
    -fx-text-fill: white;
}

.jfx-date-picker .jfx-text-field{
    -fx-background-color: #ffffff;
    -jfx-unfocus-color: #B3E5FC;
}
.jfx-combo-box{
    -fx-background-color: #ffffff;
    -jfx-unfocus-color: #B3E5FC;
}