#rootPane{
    -fx-background-color: linear-gradient(to right, #01579B, #4FC3F7);
    -fx-border-color: black;
    -fx-border-width: 0 1 1 1;

}

#lbl_title{
    -fx-font-family: sans-serif;
    -fx-text-fill: #01579B;
    -fx-background-color: white;
    -fx-font-size: 18px;
    -fx-border-color: black;
    -fx-border-width: 1 1 1 1;
}

#lbl_name,
#lbl_sex,
#lbl_age,
#lbl_date{
    -fx-font-family: sans-serif;
    -fx-font-size: 13px;
    -fx-text-fill: black;

}

#pnl_header{
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: white;

}

#exitBtn:hover{
    -fx-background-color: #D32F2F;
    -fx-border-color: #D32F2F;
}

#maxBtn:hover{
    -fx-background-color: #4FC3F7;
    -fx-border-color: #4FC3F7;
}


