.menu-bar {
    -fx-font-family: sans-serif;
    -fx-font-size: 13px;
    -fx-padding : 0 20 0 20;
    -fx-border-color : #29B6F6;
    -fx-border-width: 0 0 2 0;
    -fx-vgap : 5;
    -fx-background-color:  #E1F5FE;
}
#pane_3{
    -fx-border-color : #29B6F6;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: linear-gradient(to right, #01579B, #4FC3F7);
}

#rootPane {
    -fx-background-color: linear-gradient(to right, #01579B, #4FC3F7);
}

#slideBar{
    -fx-background-color: linear-gradient(to right, #01579B, #0277BD);

    -fx-background-radius: 0 40 0 0;
}

#title {
    -fx-font-family: Helvetica;
    -fx-font-size: 35px;
    -fx-font-style: inherit;
}
#labTable .column-header {
    -fx-border-color: #00838Fa2;
    -fx-border-width: 0.5 0.5 0.5 0.5;

}
#labTable .column-header .label {
    -fx-text-fill: #00838F;
    -fx-alignment: CENTER;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-pref-height: 45px;
    -fx-padding: 0px 0px 4px 0px;
}

#docTable .column-header{
    -fx-border-color: #0D47A1a2;
    -fx-border-width: 0.5 0.5 0.5 0.5;
}
#docTable .column-header .label {
    -fx-text-fill: #01579B;
    -fx-alignment: CENTER;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-pref-height: 45px;
    -fx-padding: 0px 0px 4px 0px;
}

#secTable .column-header{
    -fx-border-color: #AD1457a2;
    -fx-border-width: 0.5 0.5 0.5 0.5;
}
#secTable .column-header .label {
    -fx-text-fill: #AD1457;
    -fx-alignment: CENTER;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-pref-height: 45px;
    -fx-padding: 0px 0px 4px 0px;
}




