#pane{
    -fx-font-family: sans-serif;
}

#lbl_periodic,
#lbl_emergency,
#lbl_birth,
#lbl_date,
#lbl_address,
#lbl_gender,
#lbl_id,
#lbl_number,
#lbl_last_name,
#lbl_first_name{
    -fx-font-family: sans-serif;
    -fx-font-size: 15px;

}

#lbl_title{
    -fx-font-family: Calibri;
    -fx-font-size : 35px;
    -fx-font-style: bold;
}
