.tree-table-view .column-header{
    -fx-border-width : 0.5 0.5 0.5 .05;
    -fx-border-color: #636e72;
    -fx-pref-height: 50px;

}

.tree-table-view .column-header .label {
    -fx-font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-text-fill : #353b48;
    -fx-padding : 16 0 16 0 ;
}

.menu-bar {
    -fx-font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-padding : 0 20 0 20;
    -fx-border-radius: 15px;
}


