.tree-table-view .column-header{
    -fx-border-width : 0.5 0.5 0.5 .05;
    -fx-border-color: #636e72;
    -fx-pref-height: 50px;

}

.tree-table-view .column-header .label {
    -fx-font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-text-fill : #353b48;
    -fx-padding : 16 0 16 0 ;
}

.menu-bar {
    -fx-font-family: sans-serif;
    -fx-font-size: 12px;
    -fx-padding : 0 20 0 20;
    -fx-border-radius: 15px;
}
#rootPane{
    -fx-background-color: linear-gradient(to right, #01579B, #4FC3F7);
}

#fld_search{
    -fx-font-family: sans-serif;
    -fx-font-size:13px;
    -fx-background-color: white;

}
#pnl_side{
    -fx-background-color: linear-gradient(to right, #01579B, #0277BD);

    -fx-background-radius: 0 40 0 0;
}

#lbl_title{
    -fx-font-family: Helvetica;
    -fx-font-size: 35px;
    -fx-font-style: inherit;
}




